body { 
    background-color: whitesmoke;
}

.background {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    width: 2000px;
    background-color: white;
}

#sidebar {
    background-color: #1E2939;
    margin-left: 50px;
}

#sidebar img {
    padding-top: 40px;
    width: 100%;
}

#main {
    background-color: white;
    margin-left: 100px;
}

.contacts h3, .soft-skills h3, .tech-skills h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}

.contacts p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-right: 5px;
}

.contacts p a {
    color: #878D95;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.soft-skills ul span, .tech-skills ul span {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-family: Montserrat, sans-serif;
}

.soft-skills li, .tech-skills li {
    color: orangered;
}

.tech-skills ul, .soft-skills ul {
    padding: 20px;
}

.info {
    margin-left: 50px;
}

.position {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    line-height: 17px;
    color: black;
}

.my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    color: black;
}

h3 {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 23px;
}

.projects a {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    color: #595959;
}

.item {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

h2 {
    display:block;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

h3 span {
    color: rgb(255, 127, 80);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.years {
    color: rgb(168, 168, 168);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.speciality {
    color: rgb(255, 127, 80);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}