body {
    font-family: 'Mukta', sans-serif; 
    font-size: 18px;
    margin: 0 auto;
    border: 2px solid rgb(14, 79, 95);
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

body div img {
    width: 100%;
}


main {
    padding: 5px 10px;
}

main h2, ul li {
    color: orangered;
}

main p, main span {
    color: gray;
    font-size: 16px;
}

h3 span, .position {
    color: black;
    font-size: 18px;
}

main ol , ul {
    padding-left: 22px;
}


aside {
    background-color: rgb(14, 79, 95);
    padding: 5px 10px;
}

aside img {
    display: none;
}

.contacts p, ul li span {
    color: white;
}

.contacts a {
    color: rgb(165, 165, 165);
}

@media screen and (min-width: 750px) {
    aside img {
        display: block !important;
        width: 100%; 
    }

    body div img {
        display: none;
    }

    .mainContent {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    main {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    aside {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    .education {
        max-width: 40%;
    }
}

@media screen and (min-width: 1080px) {
    .mainContent {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    main {
        grid-column-start: 2;
        grid-column-end: 6;
    }

    aside {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }

    .aboutMe {
        max-width: 400px;
    }
}
